<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>健康饮食计划基于国内3位从业十余年的资深营养大师整理的营养理论，</li>
            <li>和13位人工智能工程师设计的智能运算方式，</li>
            <li>结合当代云技术采集近10万人群数据比对，</li>
            <li>从而完善的真正科学有效的饮食计划。</li>
        </ul>
    </div>
</div>
</body>
</html>